 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD student in Cell and Molecular Biology</h4>
    <h5 class="meta">University of Texas at Austin</h5>
    <div class="time">2015 - Present</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BS in Computational Biology</h4>
    <h5 class="meta">University of Texas at Austin</h5>
    <div class="time">2012 - 2015</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BS in Mathematics</h4>
    <h5 class="meta">University of Texas at Austin</h5>
    <div class="time">2012 - 2015</div>
</div><!--//item-->

</div><!--//education-container-->
