 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD candidate in Computational Biology</h4>
    <h5 class="meta">University of Texas at Austin</h5>
</div><!--//item-->
<div class="item">
    <h4 class="degree">M.S. in Statistics</h4>
    <h5 class="meta">University of Texas at Austin</h5>
</div><!--//item-->
<div class="item">
    <h4 class="degree">B.S. in Computational Biology</h4>
    <h5 class="meta">University of Texas at Austin</h5>
</div><!--//item-->
<div class="item">
    <h4 class="degree">B.S. in Mathematics</h4>
    <h5 class="meta">University of Texas at Austin</h5>
</div><!--//item-->

</div><!--//education-container-->
