<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Projects</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Impact of social distancing measures on COVID-19 transmission</h3>
                            <div class="time"></div>
                        </div><!--//upper-row-->
 
                    </div><!--//meta-->
                    <div class="details">
                        <p>A novel coronavirus (SARS-CoV-2) emerged in Wuhan, China in December 2019 and rapidly spread worldwide. In the absence of effective vaccines and antiviral drugs, social distancing measures are essential to mitigate local epidemics and imminent strains on healthcare systems. We build a mathematical model to provide a quantitative assessment of the efficacy of social distancing measures to slow COVID-19 transmission and reduce hospital surge.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Risk factors for asthma exacerbations in campus populations</h3>
                            <div class="time"></div>
                        </div><!--//upper-row-->
 
                    </div><!--//meta-->
                    <div class="details">
                        <p>Asthma exacerbations are a significant public health burden in the United States. Along with improving asthma prevention and treatment, understanding the factors that trigger asthma exacerbations is a high public health priority. We propose to establish a statistical framework to analyze asthma risk factors in a campus population. We expect that the study will provide greater insight into demographic, sociological, environmental and infectious factors that impact respiratory health in college-age populations.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
