<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Projects</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Risk factors for asthma exacerbations in campus populations</h3>
                            <div class="time"></div>
                        </div><!--//upper-row-->
 
                    </div><!--//meta-->
                    <div class="details">
                        <p>Asthma exacerbations are a significant public health burden in the United States. Along with improving asthma prevention and treatment, understanding the factors that trigger asthma exacerbations is a high public health priority. We propose to establish a statistical framework to analyze asthma risk factors in a campus population. We expect that the study will provide greater insight into demographic, sociological, environmental and infectious factors that impact respiratory health in college-age populations.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Village-level risk factors associated with ebola virus disease outbreaks</h3>
                            <div class="time"></div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">
                        <p>The Democratic Republic of Congo reported an outbreak of Ebola virus disease (EVD) on Aug 24, 2014. EVD subsequently transmitted to at least 12 villages and infecting at least 66 people. We propose to determine village-level risk factors for EVD outbreaks. We expect that this study will help us understand disease transmission in rural villages for further applications to other emerging infectious diseases.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
