<section class="section experiences-section">
				<h2 class="section-title"><i class="fa fa-briefcase"></i>Publications</h2>
					<ul class="list-unstyled interests-list">
					<li>Wang, X., Du, Z., Johnson, K. E., Pasco, R. F., Fox, S. J., Lachmann, M., ... & Meyers, L. A. (2021). Effects of COVID-19 Vaccination Timing and Risk Prioritization on Mortality Rates, United States. Emerging Infectious Diseases, 27(7), 1976-1979. </li>
					<li>Wang, X., Du, Z., Huang, G., Pasco, R. F., Fox, S. J., Galvani, A. P., ... & Meyers, L. A. (2020). Effects of cocooning on coronavirus disease rates after relaxing social distancing. Emerging infectious diseases, 26(12), 3066.</li>
					<li>Wang, X., Pasco, R. F., Du, Z., Petty, M., Fox, S. J., Galvani, A. P., ... & Meyers, L. A. (2020). Impact of social distancing measures on coronavirus disease healthcare demand, central Texas, USA. Emerging infectious diseases, 26(10), 2361.</li>
					</ul>
</section><!--//section-->