<section class="section experiences-section">
				<h2 class="section-title"><i class="fa fa-briefcase"></i>Publications</h2>
					<ul class="list-unstyled interests-list">
					<li>Wang, X., Du, Z., Johnson, K. E., Pasco, R. F., Fox, S. J., Lachmann, M., ... & Meyers, L. A. (2021). Effects of COVID-19 Vaccination Timing and Risk Prioritization on Mortality Rates, United States. Emerging Infectious Diseases, 27(7), 1976-1979.</li>
					<li></li>
					<li>Wang, X., Du, Z., Huang, G., Pasco, R. F., Fox, S. J., Galvani, A. P., ... & Meyers, L. A. (2020). Effects of cocooning on coronavirus disease rates after relaxing social distancing. Emerging infectious diseases, 26(12), 3066.</li>
					<li></li>
					<li>Wang, X., Pasco, R. F., Du, Z., Petty, M., Fox, S. J., Galvani, A. P., ... & Meyers, L. A. (2020). Impact of social distancing measures on coronavirus disease healthcare demand, central Texas, USA. Emerging infectious diseases, 26(10), 2361.</li>
					<li></li>
					<li>Ingle, T. A., Morrison, M., Wang, X., Mercer, T., Karman, V., Fox, S., & Meyers, L. A. (2021). Projecting COVID-19 isolation bed requirements for people experiencing homelessness. PloS one, 16(5), e0251153.</li>
					<li></li>
					<li>Pierce, K. A., Ho, E., Wang, X., Pasco, R., Du, Z., Zynda, G., ... & Meyers, L. A. (2020). Early COVID-19 pandemic modeling: Three compartmental model case studies from Texas, USA. Computing in Science & Engineering, 23(1), 25-34.</li>
					<li></li>
					<li>Yin, W., Borniger, J. C., Wang, X., Maguire, S. M., Munselle, M. L., Bezner, K. S., ... & Gore, A. C. (2019). Estradiol treatment improves biological rhythms in a preclinical rat model of menopause. Neurobiology of aging, 83, 1-10.</li>
					</ul>
</section><!--//section-->