<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Research Interests</h2>
<div class="summary">
    <p>I'm a PhD candidate in Computational Biology at the University of Texas at Austin. My advior is  Dr. Lauren Ancel Meyers. My research focuses on mathematical and statistical modeling of epidemiology. Specifically, I'm interested in using statistical methods to model disease dynamics to investigate the risk factors for disease outbreaks.</p>
</div><!--//summary-->
</section><!--//section-->
