<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Research Interests</h2>
<div class="summary">
    <p>I graduated from the University of Texas at Austin under the supervision of Dr. Lauren Ancel Meyers. My research focuses on computational modeling in epidemiology. Specifically, I'm interested in using mathematical, statistical, and machine learning models to investigate infectious disease dynamics and other chronic conditions. </p>
</div><!--//summary-->
</section><!--//section-->
