<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills</h2>
                <div class="skillset">        
                    <div class="item">
                       	<h3 class="level-title">Programming language</h3>
                        <div class="skill">Python &amp; R &amp; SQL</div>                         
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Software</h3>
                        <div class="skill">MS Office &amp; Latex &amp; SPSS</div>                                 
                    </div><!--//item-->
                    
                    <div class="item"> 
                        <h3 class="level-title">Language</h3>
                        <div class="skill">English &amp; Mandarin</div>
                    </div><!--//item-->
		</div>                   
            </section><!--//skills-section-->
