<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills</h2>
                <div class="skillset">        
                    <div class="item">
                       	<h3 class="level-title">Programming</h3>
                        <div class="skill">Python &amp; R &amp; Hive &amp; SQL</div>                         
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Techniques</h3>
                        <div class="skill">Machine learning &amp; statistical inference &amp; mathematical and statistical modeling &amp; data visualization &amp; data processing</div>                                 
                    </div><!--//item-->

                     <div class="item">
                        <h3 class="level-title">Tools</h3>
                        <div class="skill">Hadoop &amp; Latex &amp; TensorFlow &amp; SAS &amp; SPSS</div>                                 
                    </div><!--//item-->
                    
                   <div class="item"> 
                        <h3 class="level-title">Language</h3>
                        <div class="skill">English &amp; Mandarin</div>
                    </div><!--//item-->
		</div>                   
            </section><!--//skills-section-->
