<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills</h2>
                <div class="skillset">        
                    <div class="item">
                       	<h3 class="level-title">Programming</h3>
                        <div class="skill">Python, R, Hive, SQL</div>                         
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Techniques</h3>
                        <div class="skill">Machine learning, mathematical and statistical modeling</div>
                    </div><!--//item-->

                     <div class="item">
                        <h3 class="level-title">Tools</h3>
                        <div class="skill">Hadoop, Spark, TensorFlow, SAS, SPSS, Latex</div>                                 
                    </div><!--//item-->
                    
                   <div class="item"> 
                        <h3 class="level-title">Language</h3>
                        <div class="skill">English &amp; Mandarin</div>
                    </div><!--//item-->
		</div>                   
            </section><!--//skills-section-->
